@{
    ViewBag.Title = "厂盟 | 搜索";
    ViewBag.TitleName = "home";
}
@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/modules/css/home/search.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["scripts/home/search"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}
<div class="head-content-menu">
    <div class="content content-width">
        <div class="head-menu">
            <a href="/Home/Index">帮助中心</a>
            <span>></span>
            <a>搜索</a>
        </div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe618;</i>
        </div>
    </div>
</div>
<div class="search-item clear-after content-width">
    <div class="search-content clear-after">
        <div class="search-title clear-after">          
            <div class="left mTop10 mLeft10 count-trem">搜索 <a class="color000 pLeft10 pRight10 font16"></a>的结果：<a class="color000 pLeft10 pRight10 font16">0</a>条</div>
            <div class="right mRight10 font16 search-title2" style="line-height:40px;color:#000">本页共<a class="color000 pLeft10 pRight10 font16">0</a>个结果</div>
        </div>
        <ul class="search-results">
            
        </ul>
        <div id="pager" class="center pBottom50"></div>
    </div>
    <div class="right-search">
        <div class="search-sort">
            <div class="mBottom10 font16">搜索排序</div>
            <ul class="left mBottom20">            
                <li class="sort-item hover pLeft10" data-column="c.CreateTime">
                    创建日期
                    <span class="asc"></span>
                    <span class="desc hover"></span>
                </li>  
                <li class="sort-item pLeft10" data-column="c.UpdateTime">
                    更新日期
                    <span class="asc"></span>
                    <span class="desc"></span>
                </li>                    
                <li class="sort-item" data-column="c.ClickNumber">
                    最热
                    <span class="asc"></span>
                    <span class="desc"></span>
                </li>             
            </ul>
            <div class="clear"></div>
        </div>
        <div class="search-screening">
            <div class="mBottom10 font16">筛选</div>
            <ul class="time-search">
                <li class=" time-all hover" data-beginTime="" data-endTime="">全部时间</li>
                <li class="item" data-beginTime="@DateTime.Now.AddDays(-1).ToString("yyyy.MM.dd")" data-endTime="@DateTime.Now.Date.ToString("yyyy.MM.dd")">一天内</li>
                <li class="item" data-beginTime="@DateTime.Now.AddDays(-7).ToString("yyyy.MM.dd")" data-endTime="@DateTime.Now.Date.ToString("yyyy.MM.dd")" >一周内</li>
                <li class="item" data-beginTime="@DateTime.Now.AddMonths(-1).ToString("yyyy.MM.dd")" data-endTime="@DateTime.Now.Date.ToString("yyyy.MM.dd")" >一月内</li>
                <li class="item" data-beginTime="@DateTime.Now.AddMonths(-3).ToString("yyyy.MM.dd")" data-endTime="@DateTime.Now.Date.ToString("yyyy.MM.dd")" >三个月内</li>
                <li class="item" data-beginTime="@DateTime.Now.AddMonths(-6).ToString("yyyy.MM.dd")" data-endTime="@DateTime.Now.Date.ToString("yyyy.MM.dd")">半年内</li>
            </ul>
        </div>
    </div>
</div>


