<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="厂盟智能、厂盟、智能工厂、上海厂盟智能科技有限公司、服装加工生产" />
    <meta name="description" content="智能工厂是一款面向服装生产行业的流程管理SaaS应用平台，实现订单一对一可视化管理，让服装生产变得更简单" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    @RenderSection("css", false)
</head>
<body>
    <header class="header-menu" data-isbg="0">
        <div class="site-header">
            <ul class="left nav mLeft10">                
                <li style="width:100px;margin-right:30px;margin-top:7px;">
                    <a href="/Home/Index" class="left" style="width:100%;Opacity:1;">
                        @*<i class="iconfont font20">&#xe600;</i>*@
                        <div class="right intfactory">厂盟</div>
                        <div class="clear"></div>
                    </a>
                </li>
                <li class="Product"><a href="/Product/Product">产品</a></li>
                <li class="Pricing"><a href="/Pricing/Pricing">定价</a></li>
                <li class="Services"><a href="/Services/Services">服务</a></li>
                @*<li class="Case"><a href="/Case/Case">案例</a></li>*@
                <li class="About"><a href="/About/About">关于</a></li>
            </ul>
            <div class="right mTop15 mRight10">
                <a href="http://zngc.intfactory.cn/Home/Login">登录</a>
                <a class="register" href="http://zngc.intfactory.cn/Home/Register">注册</a> 
                <div class="clear"></div>               
            </div>   
        </div>
    </header>

    <div class="main-content">
        @RenderBody()        
    </div>
    
    <footer class="site-footer">
        <div  class="module-box">
            <div class="left links">               
                <a href="/About/About?#list">帮助</a>
                <a href="/About/About?#list">反馈</a>
                <a href="/Pricing/Pricing">购买</a>
                <a href="/About/About?#list">联系我们</a>
                <a href="http://j.map.baidu.com/FvBYv">网站地图</a>
                <div style="color:#bbb;">©2016厂盟智能 浙ICP备16001314号-1</div>  
                <div class="clear"></div>
            </div>
           @* <div class="party-footer right">
            <img class="wx-public" src="/modules/images/wechat.jpg" />     
            <div class="clear"></div>
            <div class="address-footer">
                <ul class="icon-party right">
                    <li>
                        <a href="#"><img src="/modules/images/sns1.png" /></a>
                    </li>
                    <li>
                        <img id="wx-photo" src="/modules/images/sns2.png" />
                    </li>
                    <li>
                        <a href="#"><img src="/modules/images/sns3.png" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="/modules/images/sns4.png" /></a>
                    </li>
               </ul>
                <div class="right mRight20">
                    <span>公司地址:</span>
                    <a target="_blank" href="http://j.map.baidu.com/FvBYv" title="跳转到地图">上海市长宁区中山西路 1279弄6号国峰科技大厦 6楼</a>
                    <div class="mTop10">市场合作:&nbsp;customer@yunxiaokeji.com</div>
                </div> 
            </div>
        </div>*@
            <div class="clear"></div>
        </div> 
    </footer>

    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/layout"], function (layout) {
            layout.init('@ViewBag.name');
        });
    </script>
    @RenderSection("scripts",false)
</body>
</html>
