@{
    var model = (List<IntFactoryEntity.TypeEntity>)ViewBag.model;
    ViewBag.Title = "厂盟 | 帮助中心";
    ViewBag.TitleName = "Contents";
}
@section css{
    <link href="/modules/css/contents/contents.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>  
    <script type="text/javascript">
        seajs.use(["scripts/contents/contents"], function (ObjectJS) {
            ObjectJS.init('@(Html.ToJSONString(model))');
        });        
    </script>
}

<div class="content clear-after content-width pTop50">
    <div class="content-menu">
        <div class="head-content-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe618;</i>
        </div>
        <div class="menu mTop20 mBottom30">
            @if (model.Count>0)
            {
                foreach (var item in model)
                {
                    <div class="menu-title">
                        <i class="iconfont">&#xe624;</i>
                        <span>@(item.Name)</span>
                    </div>
                    <ul class="item hide">
                        @foreach (var detail in item.contents){
                            <li class="" data-detail="@(detail.Detail)" data-title="@(detail.Title)"><span>@(detail.Title)</span></li>
                        }
                    </ul> 
                }
            }
            
        </div>
    </div>
    <div class="contents-remark">
        <div id="title" class="title"></div>
        <div id="remark" class="remark">

        </div>
        <div class="contents-list clear-after">
            <div class="contents-item">
                <ul class="problems-list">
                    <li class="item-all">常见问题</li>
                   
                </ul>
            </div>
            <div class="contents-item">
                <ul class="news-list">
                    <li class="item-all">热门指南</li>
   
                </ul>
            </div>
        </div>
    </div>
</div>
