<html>
<head>
    <title>@ViewBag.Title</title>    
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/manage/css/layout.css" rel="stylesheet" />
    <link href="/modules/manage/css/iconfont/iconfont.css" rel="stylesheet" />
    @RenderSection("css", false)    
</head>
<body>
    <header class="header">
        <ul class="menu">
            <li class="Index">
                <a href="/Manage/Home/Index">首页</a>
            </li>
            <li class="Function">
                <a href="/Manage/Function/Function">帮助中心</a>
            </li>            
            <li class="Setting">
                <a href="/Manage/System/Users">系统设置</a>
            </li>
        </ul>
    </header>

    <nav class="nav-list">
        <div class="controller select functions">
            <div class="controller-box">
                <div class="controller-name">
                    <span class="open left rotate" style="transform: rotate(90deg);"></span>
                    <span class="name left">分类管理</span>
                </div>
            </div>
            <ul class="action-box" style="display: block;">
                <li class="action" id="add-Type">
                    <a href="/Manage/Function/AddType"><span class="name">添加分类</span></a>
                </li>
                <li class="action" id="list-Type">
                    <a href="/Manage/Function/Function"><span class="name">分类列表</span></a>
                </li>                
            </ul>
        </div>
        <div class="controller select functions">
            <div class="controller-box">
                <div class="controller-name">
                    <span class="open left rotate" style="transform: rotate(90deg);"></span>
                    <span class="name left">内容管理</span>
                </div>
            </div>
            <ul class="action-box" style="display: block;">                
                <li class="action" id="add-Details">
                    <a href="/Manage/Function/AddDetails"><span class="name">添加内容</span></a>
                </li>
                <li class="action" id="details-List">
                    <a href="/Manage/Function/DetailsList"><span class="name">内容列表</span></a>
                </li>
            </ul>
        </div>
        <div class="controller select setting">
            <div class="controller-box">
                <div class="controller-name">
                    <span class="open left rotate" style="transform: rotate(90deg);"></span>
                    <span class="name left">管理员管理</span>
                </div>
            </div>
            <ul class="action-box" style="display: block;">
                <li class="action userlist">
                    <a href="/Manage/System/Users"><span class="name">管理员列表</span></a>
                </li>
                <li class="action add-users">
                    <a href="/Manage/System/AddUsers"><span class="name">管理员添加</span></a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="main-content">
        @RenderBody()
    </div>
     





    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>    
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/layout"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Name', '@ViewBag.navName');
        });
    </script>
    @RenderSection("scripts",false)
</body>
</html>


